@media screen and (max-width: 610px) {
    .forecast__item {
        width: 25%;
    }
}

@media screen and (max-width: 349px) {
    .search-bar__button {
        margin-top: 10px;
    }

    .forecast__item {
        width: 100%;
    }
}
